body {
    background: rgba(84, 84, 234, 0.697);
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: rgb(240, 240, 65);
    font-size: 4rem;
     text-shadow: 5px 0px 5px #000;
}
